/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@sprite-arrow-down-2x-x: 0px;
@sprite-arrow-down-2x-y: 0px;
@sprite-arrow-down-2x-offset-x: 0px;
@sprite-arrow-down-2x-offset-y: 0px;
@sprite-arrow-down-2x-width: 40px;
@sprite-arrow-down-2x-height: 48px;
@sprite-arrow-down-2x-total-width: 190px;
@sprite-arrow-down-2x-total-height: 670px;
@sprite-arrow-down-2x-image: '../img/icon/icon-2x.png';
@sprite-arrow-down-2x: 0px 0px 0px 0px 40px 48px 190px 670px '../img/icon/icon-2x.png';
@sprite-blog-2x-x: 0px;
@sprite-blog-2x-y: 50px;
@sprite-blog-2x-offset-x: 0px;
@sprite-blog-2x-offset-y: -50px;
@sprite-blog-2x-width: 144px;
@sprite-blog-2x-height: 144px;
@sprite-blog-2x-total-width: 190px;
@sprite-blog-2x-total-height: 670px;
@sprite-blog-2x-image: '../img/icon/icon-2x.png';
@sprite-blog-2x: 0px 50px 0px -50px 144px 144px 190px 670px '../img/icon/icon-2x.png';
@sprite-email-2x-x: 0px;
@sprite-email-2x-y: 196px;
@sprite-email-2x-offset-x: 0px;
@sprite-email-2x-offset-y: -196px;
@sprite-email-2x-width: 144px;
@sprite-email-2x-height: 144px;
@sprite-email-2x-total-width: 190px;
@sprite-email-2x-total-height: 670px;
@sprite-email-2x-image: '../img/icon/icon-2x.png';
@sprite-email-2x: 0px 196px 0px -196px 144px 144px 190px 670px '../img/icon/icon-2x.png';
@sprite-ilove-2x-x: 0px;
@sprite-ilove-2x-y: 488px;
@sprite-ilove-2x-offset-x: 0px;
@sprite-ilove-2x-offset-y: -488px;
@sprite-ilove-2x-width: 190px;
@sprite-ilove-2x-height: 182px;
@sprite-ilove-2x-total-width: 190px;
@sprite-ilove-2x-total-height: 670px;
@sprite-ilove-2x-image: '../img/icon/icon-2x.png';
@sprite-ilove-2x: 0px 488px 0px -488px 190px 182px 190px 670px '../img/icon/icon-2x.png';
@sprite-weibo-2x-x: 0px;
@sprite-weibo-2x-y: 342px;
@sprite-weibo-2x-offset-x: 0px;
@sprite-weibo-2x-offset-y: -342px;
@sprite-weibo-2x-width: 144px;
@sprite-weibo-2x-height: 144px;
@sprite-weibo-2x-total-width: 190px;
@sprite-weibo-2x-total-height: 670px;
@sprite-weibo-2x-image: '../img/icon/icon-2x.png';
@sprite-weibo-2x: 0px 342px 0px -342px 144px 144px 190px 670px '../img/icon/icon-2x.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
