/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@sprite-blog-x: 0px;
@sprite-blog-y: 0px;
@sprite-blog-offset-x: 0px;
@sprite-blog-offset-y: 0px;
@sprite-blog-width: 72px;
@sprite-blog-height: 72px;
@sprite-blog-total-width: 72px;
@sprite-blog-total-height: 220px;
@sprite-blog-image: '../img/icon/icon.png';
@sprite-blog: 0px 0px 0px 0px 72px 72px 72px 220px '../img/icon/icon.png';
@sprite-email-x: 0px;
@sprite-email-y: 74px;
@sprite-email-offset-x: 0px;
@sprite-email-offset-y: -74px;
@sprite-email-width: 72px;
@sprite-email-height: 72px;
@sprite-email-total-width: 72px;
@sprite-email-total-height: 220px;
@sprite-email-image: '../img/icon/icon.png';
@sprite-email: 0px 74px 0px -74px 72px 72px 72px 220px '../img/icon/icon.png';
@sprite-weibo-x: 0px;
@sprite-weibo-y: 148px;
@sprite-weibo-offset-x: 0px;
@sprite-weibo-offset-y: -148px;
@sprite-weibo-width: 72px;
@sprite-weibo-height: 72px;
@sprite-weibo-total-width: 72px;
@sprite-weibo-total-height: 220px;
@sprite-weibo-image: '../img/icon/icon.png';
@sprite-weibo: 0px 148px 0px -148px 72px 72px 72px 220px '../img/icon/icon.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
