@import '../../mixins/mixins';

section.posts {
  background-color: @brand-dark;
  color: @brand-light;

  .posts__header {
    overflow: hidden;
  }

  .posts__title {
    font-weight: 300;
    font-style: italic;
    margin-bottom: 2rem;
  }

  .posts__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
  }

    .list__item {
      margin: 1rem 0;
      height: 2rem;
      line-height: 2rem;
    }

    .list__anchor {
      font-size: 1.5rem;
      color: @brand-light;
      text-decoration: none;
      position: relative;
      top: .2rem;
      &:hover {
        text-decoration: underline;
      }
      @media (max-width: @screen-sm-max) {
        left: 0;
      }
    }

    .list__icon {
      margin-right: 1rem;
    }
}